# Markdown
*.md linguist-detectable=true
*.md linguist-documentation=true

# JSON
*.json linguist-detectable=true
*.json linguist-documentation=true

# YAML
*.yml linguist-detectable=true
*.yml linguist-documentation=true
